notebooks/.ipynb_checkpoints/
data/*.tgz
data/de-en
.idea/
.data/
tests/__pycache__
.vscode/
src/Transformer/model/__pycache__
__pycache__/
notebooks/
europarl_data/
data/
*.pt
src/Transformer/dataloader.py